@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

.ck-editor {
    @apply !pt-2 prose max-w-full;
}

.ck-content {
    min-height: 300px;
}

.prose :not(pre) > code.language-text {
    white-space: pre-line;
}

nav.vue-fixed-header--isFixed {
    @apply fixed inset-x-0;
}

#menu-toggle:checked + #menu {
    @apply flex;
}

.prose{
    @apply max-w-none;
}

.prose :where(code):not(pre code):not(:where([class~="not-prose"] *)){
    @apply bg-gray-200 rounded px-1 py-0.5
}
.prose :where(code):not(pre code):not(:where([class~="not-prose"] *))::after,
.prose :where(code):not(pre code):not(:where([class~="not-prose"] *))::before{
    content: '';
}

.code-badge-copy-icon{
    font-size: 0.875rem !important;
}
.code-copy{
    background-image: url("data:image/svg+xml,%3Csvg class='w-6 h-6' fill='none' stroke='%23fff' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8 7v8a2 2 0 002 2h6M8 7V5a2 2 0 012-2h4.586a1 1 0 01.707.293l4.414 4.414a1 1 0 01.293.707V15a2 2 0 01-2 2h-2M8 7H6a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2v-2'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
}
.code-check{
    background-image: url("data:image/svg+xml,%3Csvg class='w-6 h-6' fill='none' stroke='%2326da20' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 13l4 4L19 7'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
}